In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [2]:
df=pd.read_csv('loanstat.csv')

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
for col in df.select_dtypes(exclude='object').columns:
    if df[col].isnull().any():
        df[col].fillna(df[col].median(),inplace=True)

In [5]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0],inplace=True)

In [6]:
df.columns.isnull().sum()

0

In [7]:
df.loc[df['Dependents']=='3+','Dependents']='3'

In [8]:
T=df.drop("Loan_ID",axis=1)
q=df.to_csv('loanone.csv')

In [9]:
T.loc[T['Loan_Status']=='Y','Loan_Status']=1
T.loc[T['Loan_Status']=='N','Loan_Status']=0
T['Loan_Status']=T['Loan_Status'].astype(int)

In [10]:
T['Total']=T['ApplicantIncome']+T['CoapplicantIncome']
T['Debt/Income']=(T['LoanAmount']*1000)/T['Total']
T['EMI']=((T['LoanAmount']*(0.09)*((1.09)**T['Loan_Amount_Term']))/((1.09)**(T['Loan_Amount_Term']-1)))
T.drop(['LoanAmount','Loan_Amount_Term','ApplicantIncome','CoapplicantIncome'],axis=1,inplace=True)

In [11]:
r=T.to_csv('loanplus.csv')

In [12]:
T['Dependents']=T['Dependents'].astype(int)
T

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Loan_Status,Total,Debt/Income,EMI
0,Male,No,0,Graduate,No,1.0,Urban,1,5849.0,21.884083,12.5568
1,Male,Yes,1,Graduate,No,1.0,Rural,0,6091.0,21.014612,12.5568
2,Male,Yes,0,Graduate,Yes,1.0,Urban,1,3000.0,22.000000,6.4746
3,Male,Yes,0,Not Graduate,No,1.0,Urban,1,4941.0,24.286582,11.7720
4,Male,No,0,Graduate,No,1.0,Urban,1,6000.0,23.500000,13.8321
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,1.0,Rural,1,2900.0,24.482759,6.9651
610,Male,Yes,3,Graduate,No,1.0,Rural,1,4106.0,9.741841,3.9240
611,Male,Yes,1,Graduate,No,1.0,Urban,1,8312.0,30.437921,24.8193
612,Male,Yes,2,Graduate,No,1.0,Urban,1,7583.0,24.660425,18.3447
613,Female,No,0,Graduate,Yes,0.0,Semiurban,0,4583.0,29.020292,13.0473

In [13]:
lis=[]
for col in T.columns:
    if T[col].dtype=='object':
        lis.append(col)
one= OneHotEncoder(handle_unknown='ignore',sparse=False)
K=pd.DataFrame(one.fit_transform(T[lis]))
K.index=T.index
L=T.drop(lis,axis=1)
M=pd.concat([K,L],axis=1)
with open(r'C:\Users\91949\anaconda\envs\streamlit\new1\one.pkl','wb') as hi:
    pickle.dump(one,hi)

In [18]:
Xt=M.drop(['Loan_Status'],axis=1)
yt=M['Loan_Status']
X_train,X_test,y_train,y_test=train_test_split(Xt,yt,train_size=0.7,test_size=0.3,random_state=1)
X_train['Total_log']=np.log(X_train['Total'])
X_train.drop(['Total'],axis=1,inplace=True)
X_test['Total_log']=np.log(X_test['Total'])
X_test.drop(['Total'],axis=1,inplace=True)

<ipython-input-18-310ee5f43978>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Total_log']=np.log(X_train['Total'])
<ipython-input-18-310ee5f43978>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Total_log']=np.log(X_test['Total'])

In [19]:
para={'min_samples_split':np.arange(2,26), 'max_depth': np.arange(2,30),'max_leaf_nodes':np.arange(2,50), 'criterion':['gini', 'entropy']}
cd=DecisionTreeClassifier()
md=GridSearchCV(cd,param_grid=para,cv=5,n_jobs=3)
md.fit(X_train,y_train)
pp=md.best_estimator_
ppp=pp.predict(X_test)
print(accuracy_score(ppp,y_test))

0.8054054054054054

In [16]:
with open(r'C:\Users\91949\anaconda\envs\streamlit\new1\model.pkl','wb') as gg:
    pickle.dump(pp,gg)